@use './helper/var' as var;

* {
    box-sizing: border-box;
}

body {
    font-family: var.$cairofont;
    margin: 0px;
    direction: var.$direction;

}

a {
    display: inline-block;
    text-decoration: none;
    user-select: none;
}