@use './helper/var' as var;

body {
    font-family: var.$cairofont;
    margin: 0px;
    direction: var.$direction;

}

a {
    display: inline-block;
    text-decoration: none;
    user-select: none;
}