@use '../helper/var';

.mainform-app {

    margin-top: 1.8rem;
    background-color: #fff;

    .form-group {
        display: flex;
        align-items: center;
        margin-top: 1rem;

    }

    .label-control {
        color: #707070;
        font-weight: 600;
    }



    .short-description {
        height: 140px;
        resize: none;
    }

}