.model-show-image {
    max-width: 80%;
    overflow: hidden;

    .image-wrapper {
        width: 50%;
        height: 400px;
        margin: auto;
    }

    .image-wrapper img {
        height: 90%;
        width: 100%
    }
}