.variant-container {
    display: flex;
    gap: 3px;
    flex-wrap: wrap;

    .variant-default {
        position: relative;
        margin-top: 1rem;
        padding: 9px 15px;

        &:not(:first-child) {
            margin-right: 5px;

        }

        .delete-btn {
            position: absolute;
            left: 0px;
            top: 2px;
            background-color: transparent;
            border: none;
            color: var(--bs-danger);
            font-size: 13px;
        }

    }

    .variant-color {
        border-radius: 3px;
        width: 33px;
        height: 33px;
    }

    .variant {
        background-color: #212224;
        color: #fff;
        border: 1px solid #212224;
        border-radius: 6px;
    }
}