@use '../helper/var' as var;

.header {
    height: 70px;
    position: fixed;
    right: 0px;
    width: 100%;
    z-index: 50;

    .logo {
        width: 250px;
        background: var.$maincolor;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 62px;
    }

    .logo .logo-link {
        color: #fff;
        text-decoration: none;
    }

    .header-content {
        background-color: #fff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding-right: 2rem;
        padding-left: 2rem;
        flex-grow: 1;
        border-bottom: 1px solid #dedede7a
    }

    .user .avatar {
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

    .user .hero-name {
        color: #555b6d;
        font-weight: 600;
        font-size: 1.1rem;
        margin-right: 0.5rem;
    }
}